<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>vue.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>vue.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>vue.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Annonces</servlet-name>
    <servlet-class>vue.Annonces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Annonces</servlet-name>
    <url-pattern>/annonces</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>vue.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Demandes</servlet-name>
    <servlet-class>vue.Demandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demandes</servlet-name>
    <url-pattern>/demandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>vue.Recherche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Criteres</servlet-name>
    <servlet-class>vue.Criteres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Criteres</servlet-name>
    <url-pattern>/criteres</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Nouvelle</servlet-name>
    <servlet-class>vue.Nouvelle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nouvelle</servlet-name>
    <url-pattern>/nouvelle</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>
