@CHARSET "ISO-8859-1";

#container
{
margin-top: 80px !important;
margin-bottom: 80px !important;
margin: 0 auto;
padding: 10px 10px 30px;
background-color: #fff;
border-radius: 30px;
width: 60%;
border: 30px solid rgb(188, 188, 188);
}

/* css de nouvelle annonce */

#services {
width : 261px;
height : 104px;
display : inline-block;
border : blue solid 1px;
}
#saisies_propositionLogement label {
width : 40%;
margin-top : 15px;
}
#saisies_propositionLogement input {
margin-top : 15px;
}
#propoLogMidddle {
width : 424px;
display : inline-block;
}
#propoLogLeft {
width : 380px;
display : inline-block;
}
.alignLeft {
float : left;
margin-left : 30px;
}
.alignMiddle {
float : left;
margin-left : 30px;
}
#valNouvelleAnnonce {
float : right;
}