@CHARSET "ISO-8859-1";
/* demandes */

.icon-cancel {
color:red;
float: left;
background-color: rgb(247, 241, 241);
height: 60%;
width: 50%;
}

.icon-check {
	
float: left;
color:green;
background-color: rgb(247, 241, 241);
height: 60%;
width: 50%;
}

ol li {
	padding-bottom:10px;
}

.detailsAnnonce2 {

float: left;
background-color: rgba(202, 176, 137, 0.29);
width: 77%;
}

.detailsAnnonce0 {

float: left;
background-color: rgba(255, 0, 0, 0.29);
width: 77%;
}

.detailsAnnonce1 {

float: left;
background-color: rgba(0, 255, 23, 0.29);
width: 77%;
}

.confirmation {

/* border: 1px solid blue; */
float: left;
width: 21%;
height: 28%;
}

.uneDemande h3
{
background-color: mediumturquoise;
padding: 13px;
width: 120%;
margin-top: 0;
}

li div.uneDemande
{
  height: 200px;
}

.uneDemande
{
position: relative;
margin: 0 10px 0 0;
width: 79%;
}

.uneImg
{
 /* height: 130px;*/
  width: 16%;
  position: inherit;
  /*margin-left: 10px;*/
  float: left;
  border-radius: 25px;
  border-style: dashed;
}

.txtDemandesRecu
{
  height: 70px;
  width: 79%;
  margin-right: 60px;
  padding: 1px;
  margin-left: 15px;
  font-size: 16px;

}

.txtDemandesEnvoye
{
  height: 130px;
  width: 79%;
  margin-right: 60px;
  padding: 1px;
  margin-left: 15px;
  font-size: 16px;
}


#infosDemandes ol{
.infosDemandes ol{
	list-style: none;
}

.demandes {
}
