
.icon-basket-1:before { content: '\e800'; } /* '' */
.icon-h-sigh:before { content: '\e801'; } /* '' */
.icon-restaurant:before { content: '\e802'; } /* '' */
.icon-bus:before { content: '\e803'; } /* '' */
.icon-paw:before { content: '\e804'; } /* '' */
.icon-signal:before { content: '\e805'; } /* '' */
.icon-cab:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-fire:before { content: '\e80a'; } /* '' */
.icon-wheelchair:before { content: '\e80b'; } /* '' */