@CHARSET "ISO-8859-1";

/* menu */
#le_menu{
	margin: 0 auto;
background-color: rgba(255, 255, 255, 0.18);
width: 87.5%;
border: solid 4px rgb(169, 171, 171);
margin-top: 25px;
padding: 0;
margin-bottom: 15px;
}

#le_menu a {
text-decoration: none;
font-size: 15px;
}

#le_menu ul{
	height: 100%;
margin: 0;
padding: 0;
background-color: #fff;
}

#le_menu li{
	width: 13.8335%;
border-right: solid 1px rgb(237, 237, 237);
margin: 0;
background-color: rgb(252, 252, 252);
padding: 0;
text-align: center;
height: 100%;
line-height: 70px;
color: rgb(73, 73, 73);
}

#le_menu li:hover{
background-color: rgb(134, 134, 134);
color: rgb(255, 255, 255) !important;
}