@CHARSET "ISO-8859-1";

/*--------------------------------------------------------------*/
#uneOffre {
	background-color: rgb(224, 225, 221);
	border: 1px solid #A9ABAB;
	border-radius: 15px;
	margin-bottom: 15px;
}

#enTeteOffre {
	border-bottom: 1px solid #A9ABAB;
	background-color: rgb(90, 90, 90);
	border-radius: 10px;
}

#intituleEnTeteOffre {
	margin: 0px;
	color: white;
	height: 40px;
	/* font-family: monospace; */
	line-height: 38px;
	padding-left: 15px;
}

.critereOffre {
	background-color: rgb(240, 240, 240);
	margin: 10px 10px 15px;
	border-radius: 5px;
}

#intituleCritere {
	display: inline-block;
	background-color: rgb(255, 255, 255);
	font-size: 22px;
	border-radius: 5px;
	width: 12%;
	border: solid 1px rgb(224, 224, 224);
	text-align: center;
	overflow: hidden;
	height: 50%;
	margin: 1% 0% 1% 2%;
	font-family: monospace;
	word-wrap: break-word;
}

#valeurCritere {
	display: inline-block;
	margin: 1% 0% 1% 2%;
	background-color: white;
	font-size: 16px;
	border-radius: 5px;
	line-height: 174%;
	padding-left: 3%;
	width: 50%;
	overflow: hidden;
	border: solid 1px rgb(224, 224, 224);
	min-height: 55%;
	height: 50%;
	word-wrap: break-word;
}