@CHARSET "ISO-8859-1";

/* -------------Page erreur---------------- */
#titre_erreur{
	
}

#containerErreur
{
margin-top: 80px !important;
margin-bottom: 80px !important;
margin: 0 auto;
padding: 10px 10px 30px;
background-color: #fff;
border-radius: 30px;
width: 60%;
border: 30px solid rgb(188, 188, 188);
}
/* ----------------------------- */