@CHARSET "ISO-8859-1";

/* -------------Page erreur---------------- */
p#titre_erreur{
  font-size: 24px;
  padding: 5px;
  text-align: center;
  width: 30%;
  border: solid 1px rgb(208, 208, 208);
  margin-left: 40px;
  background-color: #E8E8E8;
  border-radius: 6px;
}

#containerErreur
{
  margin-left: 45px !important;
  margin-top: 45px !important;
  margin: 0 auto;
  padding: 10px 10px 10px 20px;
  background-color: #E8E8E8;
  border-radius: 10px;
  width: 60%;
}
/* ----------------------------- */