@CHARSET "ISO-8859-1";

/* css de la page de validation */ 

#blabla{
	width:50px;
}

#blockNomPrenom{
  vertical-align: top;
  width: 90%;
  padding: 10px;
  border-radius: 23px;
  margin-top: 15px;
  font-size: 17px;
  background-color: white;
}

#blockImage{
  width: 100px;
  display: inline-block;
  margin-top: 24px;
  height: 100px;
  background-color: red;
}

#containerInfoPersonnel{
  background-color: rgb(204, 204, 204);
  padding: 15px;
  width: 30%;
  margin: 15px;
  border-radius: 15px;
}

.libelleService{
	  width: 30%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 10px;
}

.service{
  width: 60%;
  background-color: white;
  display: inline-block;
  padding: 7px;
  border-radius: 5px;
  margin: 0;
}
.unServiceContainer{
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}


.dateLimite{
	width: 20%;
  display: inline-block;
  margin-left: 30px;
  font-size: 17px;
}

.infoPerso{
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
}

#tel{
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 5px;
  padding-bottom: 5px;
}

